h1 {
    font-size: 30px;
    color: crimson;
}
.output {
    color: rgb(246, 80, 9);
}
p {
    font-size: large ;
    color: rgb(5, 73, 6);
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}